NEXT_PUBLIC_STREET_CRED_TAP_ADDRESS=0x239A69a9477503Ce3d54E1587d5BED12876099f2
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_BASE_APP_ID=6a229eff2280de924021e2ac
NEXT_PUBLIC_BASE_BUILDER_CODE=bc_hofdklqz
NEXT_PUBLIC_BASE_DATA_SUFFIX=0x62635f686f66646b6c717a0b0080218021802180218021802180218021

# Used only by deployment scripts or CLI commands, never expose these in client code.
GITHUB_TOKEN=
VERCEL_TOKEN=
